* {
  box-sizing: border-box;
}

.auth-container {
  display: flex;
  min-height: 100vh;
  background: #faf7ff;
}

.left-side {
  flex: 1;
  background: linear-gradient(
    135deg,
    #d9b8ff,
    #b8c0ff
  );

  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.content {
  max-width: 500px;
  text-align: center;
  padding: 40px;
}

.badge {
  display: inline-block;
  padding: 12px 20px;
  border-radius: 30px;
  background: rgba(255,255,255,.25);
  margin-bottom: 25px;
}

.content h1 {
  font-size: 72px;
  margin-bottom: 20px;
}

.content p {
  font-size: 24px;
  line-height: 1.5;
}

.image-container img {
  width: 260px;
  margin-top: 40px;
}

.right-side {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f9f5ff;
}

.auth-box {
  width: 500px;
  background: white;
  padding: 40px;
  border-radius: 30px;
  box-shadow: 0 15px 40px rgba(0,0,0,.08);
}

.auth-box h2 {
  font-size: 42px;
  margin-bottom: 10px;
}

.subtitle {
  color: #777;
  margin-bottom: 25px;
}

.tabs {
  display: flex;
  gap: 10px;
  margin-bottom: 25px;
}

.tabs button {
  flex: 1;
  border: none;
  padding: 14px;
  border-radius: 12px;
  cursor: pointer;
  background: #ece8f8;
  font-size: 16px;
}

.tabs button.active {
  background: #c79dff;
  color: white;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.input-group {
  display: flex;
  flex-direction: column;
}

.input-group label {
  margin-bottom: 8px;
  font-weight: 600;
}

.input-group input {
  padding: 14px;
  border: 2px solid #ece8f8;
  border-radius: 12px;
  font-size: 15px;
}

.input-group input:focus {
  outline: none;
  border-color: #c79dff;
}

.btn-primary {
  border: none;
  padding: 15px;
  border-radius: 12px;
  cursor: pointer;
  font-size: 16px;
  color: white;
  background: linear-gradient(
    135deg,
    #c79dff,
    #ffb7d5
  );
  margin-top: 10px;
}